body {
    background-color: #000;
    color: #fff;
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.countdown {
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #3498db;

    /* Responsive styles for iPhone 13 */
    max-width: 90%;
    padding: 10px;
    margin: 20px;
}

h1 {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    color: #fff;
}

#timer {
    font-size: 18px;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

/* Responsive styles for iPhone 13 */
@media screen and (max-width: 390px) {
    h1 {
        font-size: 18px;
    }

    #timer {
        font-size: 16px;
        padding: 5px;
        margin-top: 15px;
    }
}
