body {
    background-color: #000;
    color: #000;
    font-family: 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.countdown {
    border: 2px solid #3498db;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-shadow: 0px 0px 15px 0px #3498db;
    max-width: 90%; /* Limit width to a maximum of 90% */

    /* Responsive styles for iPhone 13 */
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 28px; /* Increase font size for better legibility on smartphones */
    margin: 0;
    padding: 10px;
    color: #fff;
}

#timer {
    font-size: 24px; /* Increase font size for better legibility on smartphones */
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    padding: 15px; /* Increase padding for better touch interaction on smartphones */
    margin-top: 20px;
}

/* Responsive styles for iPhone 13 */
@media screen and (max-width: 390px) {
    h1 {
        font-size: 24px; /* Further increase font size for better legibility on smartphones */
    }

    #timer {
        font-size: 20px; /* Further increase font size for better legibility on smartphones */
        padding: 15px;
        margin-top: 15px;
    }
}
